@mixin button-size(
    $padding-y,
    $padding-x,
    $font-size,
    $border-raduis
){
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-raduis;
}

@mixin button-type(
    $background,
    $border,
    $color,
    $hover-background: lighten($background, 7.5%),
    $hover-border: lighten($background, 10%),
    $hover-color: $color,
) {
    color: $color;
    background: $background;
    border-color: $border;
    &:hover {
        color: $hover-color;
        background: $hover-background;
        border-color: $hover-color;
    }
    &:focus,
    &.focus{
        color: $hover-color;
        background: $hover-background;
        border-color: $hover-border;
    }
    &:disabled,
    &.disabled{
        color: $color;
        background: $background;
        border-color: $border;
    }
}

// @mixin zoom-animation(

// )