.vship-empty {
  margin: 8px 0px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(0,0,0,.25);
}
.vship-empty-normal {
  margin: 32px 0px;
  .vship-empty-image {
  height: 40px;
}
}
.vship-empty-small {
  margin: 8px 0px;
  .vship-empty-image {
  height: 35px;
}
}
.vship-empty-image {
  height: 100px;
}
.vship-empty-description {
  margin: 0;
}