.vship-select-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  user-select: none;
  .vship-select-seatch {
    width: 100%;
    input {
      padding-right: 30px;
      &:hover {
        border: $input-border-width solid $primary
      }
    }
  }
  .vship-select-arrow {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: $input-padding-x;
    .icon-down {
      transition: transform .25s ease-in-out;
      color: $input-border-color;
    }
    .icon-down-focus {
      transform: rotate(180deg);
    }
  }
}

.vship-select-inner {
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  cursor: pointer;
  padding-right: 30px;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  transition: $input-transition;
  &:hover {
    border: $input-border-width solid $primary;
  }
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: lighten($primary, 7.5%);
    outline: 0;
    box-shadow: $input-focus-box-shadow;
  }
  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    opacity: 1;
  }
}
.vship-select-inner-placeholder {
    color: #bfbfbf;
}
.vship-select-inner-after::after {
      display: inline-block;
      width: 0;
      visibility: hidden;
      content: '.';
      pointer-events: none;
}
.vship-select-inner-focus {
  // color: $input-focus-color;
  background-color: $input-focus-bg;
  border-color: lighten($primary, 7.5%);
  outline: 0;
  box-shadow: $input-focus-box-shadow;
}

.vship-option-list {
  list-style:none;
  padding-left: 0;
  white-space: nowrap;
  max-height: 200px;
  overflow: auto;
  position: absolute;
  padding: $input-padding-y 0;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  background: $white;
  z-index: 100;
  top: calc(100% + 2px);
  left: 0;
  border: $menu-border-width solid $menu-border-color;
  box-shadow: $submenu-box-shadow;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  // width: 100%;
  .vship-option-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
  }
  .vship-select-option-item {
    padding: $input-padding-y $input-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    color: $body-color;
    &:hover {
      background-color: #e6f7ff;
    }
    &.is-active {
      background: #e6f7ff !important;
    }
  }
  .vship-select-dropdown-item-disabled {
    color: rgba(0,0,0,.25);
    cursor: not-allowed;
    &:hover {
      background-color: $white;
    }
  }
}
.dropdownMatchSelectWidth {
  width: 100%;
}
.select-size-small .vship-option-item {
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $input-font-size-sm;
}
.select-size-large .vship-option-item {
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $input-font-size-lg;
}

.select-size-small .vship-select-inner {
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $input-font-size-sm;
  border-radius: $input-border-radius-sm;
  .vship-select-arrow {
    top: $input-padding-y-sm;
    right: $input-padding-x;
  }
}

.select-size-large .vship-select-inner {
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $input-font-size-lg;
  border-radius: $input-border-radius-lg;
  .vship-select-arrow {
    top: $input-padding-y-lg;
    right: $input-padding-x-lg;
  }
}
