.vship-card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
  .vship-card-head {
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 16px;
    background: 0 0;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    .vship-card-head-wrapper {
      display: flex;
      align-items: center;
      .vship-card-head-title {
        display: inline-block;
        flex: 1;
        padding: 16px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .vship-card-head-extra {
        float: right;
        margin-left: auto;
        padding: 16px 0;
        color: rgba(0,0,0,.65);
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
  .vship-card-body {
    padding: 24px;
    zoom: 1;
  }
}
.vship-card-bordered {
  border: 1px solid #e8e8e8;
}
.vship-card-hoverable {
  &:hover {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
}
}
.vship-card-small {
  .vship-card-head {
    min-height: 36px;
    padding: 0 12px;
    font-size: 14px;
    .vship-card-head-wrapper {
      .vship-card-head-title {
        padding: 8px 0px;
      }
    }
  }
  .vship-card-body {
    padding: 12px;
  }
}